@font-face {  
    src: url(fonts/BlueNoon.ttf);
}

body{
    font-family: sans-serif;
    font-kerning: auto;
}

.bg-dark{
background-color: rgba(0,0,0,0.85)!important;
/*background-image: linear-gradient(to right, black, white);*/

}

.bg-saffron{
    /*background-color: rgba(251, 171, 3);*/
/*background-color: rgba(0,0,0,0.95)!important;*/

}

.text-saffron{
    color: rgba(251, 171, 3);
}

body .jumbotron{
    height: 7%;
    background-image: linear-gradient(to right, white,rgba(251, 171, 3)  , white);
}

.nav-fontsize{
    font-size: 14px;
}

.header-radius{
    /*border-radius: 0px 0px 87px 97px;*/
    border-bottom: 5px double;
    border-color: rgba(251, 171, 3);
}

.header-bg-radius{
 /*border-radius: 0px 0px 87px  0px;*/
}



.w100{
    width: 140px;
    max-height: 65px;
}

#myFooter {
    background-color: #222;
    color:white;
}

#myFooter .footer-copyright{
    background-color: #AFADA9;
    padding-top:3px;
    padding-bottom:3px;
    text-align: center;
}

#myFooter .footer-copyright p{
    margin:10px;
    color: #4e4b4b;
}

#myFooter ul{
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;

}

#myFooter h5{
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter a{
    color:#AFADA9;
    text-decoration: none;
}

#myFooter a:hover, #myFooter a:focus{
    text-decoration: none;
    color:white;
}

#myFooter .myCols{
    text-align: center;
}

#myFooter .social-networks{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 38px;
}

#myFooter .social-networks a{
    font-size: 32px;
    margin-right: 5px;
    margin-left: 5px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover{
    text-decoration: none;

}

#myFooter .facebook:hover{
    color:#0077e2;
}

#myFooter .google:hover{
    color:#ef1a1a;
}

#myFooter .twitter:hover{
    color: #00aced;
}

@media screen and (max-width: 767px){
    #myFooter {
        text-align: center;
    }
}



/* CSS used for positioning the footers at the bottom of the page. */
/* You can remove this. */



.content{
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    min-height: 200px;
}

#myFooter{
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}


/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.6s;
}

/* Accordion css */
.accordion:hover {
    background-color: rgba(251, 171, 3, 0.88);
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 20px 20px 20px 20px;
    background-color: white;
    display: none;
    overflow: hidden;
}